<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kvitae</title>
</head>
<body>
    <h1>KVITAE</h1>
        <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyCSB5jmFxG2c1hhqmsaQv6dzaiuXRht3Mc",
            authDomain: "kvitae-a9749.firebaseapp.com",
            databaseURL: "https://kvitae-a9749.firebaseio.com",
            projectId: "kvitae-a9749",
            storageBucket: "",
            messagingSenderId: "620626928021"
          };
          firebase.initializeApp(config);
        </script>
</body>
</html>